<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DataUsersFile" value="base.sqlite" />
    <add key="ArchiveGlobalFile" value="ArchiveGlobal.log" />
    <add key="LimitHoursPersistLog" value="48" />
  </appSettings>
</configuration>