<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DataFile" value="data.txt" />
    <add key="DataUsersFile" value="base.sqlite" />
    <add key="ArchiveGlobalFile" value="ArchiveGlobal.log" />
    <add key="LimitHoursPersistLog" value="48" />
    <add key="JeremiasToken" value="token" />
    <add key="Channel" value="#channel" />
    <add key="Username" value="username" />
    <add key="MonitorarSegundos" value="5" />
  </appSettings>
</configuration>